<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 控制单个标签 -->
        <h1 v-if="isShow"> isShow is True</h1>
        <h1 v-else>isShow is False</h1>
        <!-- 批量控制多个标签 -->
        <template v-if="isShow">
            <p>段落1</p>
            <p>段落2</p>
        </template>
        <div v-show="isShow">isShow为true可以显示</div>
    </div>
</body>

</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            isShow: true
        }
    }
    )
</script>